@page "/merchantcategories/{MerchantCategoryId:long}/merchants"
@inherits MixedStateComponent<TableResponse<MerchantView>, TableOptions>
@{
    Items = State.GetValue(Injector);
}

<ListContainer Title="Merchant">
    <Actions>
        <MudLink Href="@($"/merchantcategories/{MerchantCategoryId}/merchants/create")">
            <MudButton Style="float:right;" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add">
                @L["Create"]
            </MudButton>
        </MudLink>
    </Actions>
    <ChildContent>
        <UTCTable Values="@Items" SortColumns="@SortColumns" MutableState="@MutableState" Tclass="MerchantView">
            <MudTd DataLabel="Logo">
                <ImageView fileEntity="@context.LogoView" />
            </MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Description">@context.Description</MudTd>
            <MudTd DataLabel="Address">@context.Address</MudTd>
            <MudTd DataLabel="MXIK">@context.MXIK</MudTd>
            <MudTd DataLabel="WorkTime">@context.WorkTime</MudTd>
            <MudTd DataLabel="Phone">@context.Phone</MudTd>
            <MudTd DataLabel="Responsible">@context.Responsible</MudTd>
            <MudTd DataLabel="Status">@context.Status</MudTd>
            <MudTd DataLabel="Id">@context.Id</MudTd>

            <MudTd>
                <div style="display:flex; gap:7px;">
                    <MudLink Href=@($"/merchantcategories/{MerchantCategoryId}/merchants/{context.Id}")>
                        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                    </MudLink>
                    <MudFab @onclick=@(() => Delete(@context.Id)) Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                    <MudFab @onclick=@(() => ShowQrDialog(@context.Id)) Color="Color.Info" StartIcon="@Icons.Material.Filled.QrCode" Size="Size.Small" IconSize="Size.Small" />
                    <GenerateTokenDialog CurrentToken="context.Token"
                                         OnSave="(string token) => OnTokenSaved(token,context)" />
                </div>
            </MudTd>
        </UTCTable>
    </ChildContent>
</ListContainer>