@page  "/cards" 
@inject UICommander commander
@inject Session Session
@inject NavigationManager navigation
@inject ISnackbar Snackbar
@inject IDialogService _dialogService
@inject UInjector UInjector
@inject ICardService CardService

@inherits MixedStateComponent<TableResponse<CardView>,TableOptions>
@{
    Items = State.GetValue(UInjector);
}

<ListContainer Title="Card">
    <Actions>
        <MudLink Href="/cards/create">
            <MudButton Style="float:right;" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add">
            @L["Create"]
            </MudButton>
        </MudLink>
    </Actions>
    <ChildContent>
        <UTCTable Values=@Items  SortColumns="SortColumns" MutableState=MutableState Tclass="CardView">
                <MudTd DataLabel="CardId">@context.CardId</MudTd>
                <MudTd DataLabel="UserId">@context.UserId</MudTd>
                <MudTd DataLabel="ExpirationDate">@context.ExpirationDate</MudTd>
                <MudTd DataLabel="CardPan">@context.CardPan</MudTd>
                <MudTd DataLabel="CardToken">@context.CardToken</MudTd>
                <MudTd DataLabel="Phone">@context.Phone</MudTd>
                <MudTd DataLabel="HolderName">@context.HolderName</MudTd>
                <MudTd DataLabel="Pinfl">@context.Pinfl</MudTd>
                <MudTd DataLabel="Ps">@context.Ps</MudTd>
                <MudTd DataLabel="Status">@context.Status</MudTd>
                <MudTd DataLabel="Id">@context.Id</MudTd>
                       
                <MudTd Class="d-flex justify-end">
                    <div style="display:flex; gap:7px;">
                        <MudLink Href=@($"/cards/{context.Id }")>
                            <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small"/>
                        </MudLink>
                        <MudFab @onclick=@(()=>Delete(@context.Id)) Color=Color.Secondary StartIcon=@Icons.Material.Filled.Delete Size=Size.Small IconSize=Size.Small />
                    </div>
                </MudTd>
        </UTCTable>
    </ChildContent>
</ListContainer>

@code {

    private TableResponse<CardView>? Items ;
    
    private string[] SortColumns = new string[] {"CardId","UserId","ExpirationDate","ApplicationId","PayerId","CardPan","CardToken","Phone","HolderName","Pinfl","Ps","Status","AddedOn","CardStatus","SmsInform","IsMulticard","Id",};

    protected override MutableState<TableOptions>.Options GetMutableStateOptions()
    {
        var uri = navigation.ToAbsoluteUri(navigation.Uri);
        QueryHelpers.ParseQuery(uri.Query).TryGetValue("page", out var _initialCount);
        QueryHelpers.ParseQuery(uri.Query).TryGetValue("search", out var searchParam);
        int count = 1;
        int.TryParse(_initialCount, out count);
        return new() { InitialValue = new TableOptions() { Page = count == 0 ? 1 : count, PageSize = 15, SortLabel = "Id", SortDirection = 1, Search = searchParam } };
    }

    protected override async Task<TableResponse<CardView>> ComputeState(CancellationToken cancellationToken = default)
    {
        var cards = await CardService.GetAll(MutableState.Value);
        return cards;

    }

    private async Task Delete(long Id, CancellationToken cancellationToken = default)
    {
        bool? result = await _dialogService.ShowMessageBox(
        @L["DeleteConfirmation"],
        @L["UnDoneDelete"],
        yesText: "Delete!", cancelText: @L["Cancel"]);
        if (result ?? false)
        {
            // await commander.Run(new DeleteCardCommand(Session,Id,Session));
            // Snackbar.Add(@L["SuccessDelete"], Severity.Success);
        }
    }
}