@page  "/cardcolors"
@inherits MixedStateComponent<TableResponse<CardColorView>, TableOptions>
@{
    Items = State.GetValue(Injector);
}

<ListContainer Title="CardColor">
    <Actions>
        <MudLink Href="/cardcolors/create">
            <MudButton Style="float:right;" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add">
            @L["Create"]
            </MudButton>
        </MudLink>
    </Actions>
    <ChildContent>
        <UTCTable Values="@Items"  SortColumns="@SortColumns" MutableState="@MutableState" Tclass="CardColorView">
                <MudTd DataLabel="Name">@context.Name</MudTd>
                <MudTd DataLabel="ColorCode">@context.ColorCode</MudTd>
                <MudTd DataLabel="Id">@context.Id</MudTd>
                       
                <MudTd Class="d-flex justify-end">
                    <div style="display:flex; gap:7px;">
                        <MudLink Href=@($"/cardcolors/{context.Id }")>
                            <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small"/>
                        </MudLink>
                        <MudFab @onclick=@(()=>Delete(@context.Id)) Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                    </div>
                </MudTd>
        </UTCTable>
    </ChildContent>
</ListContainer>