@page  "/sms-templates"
@inherits MixedStateComponent<TableResponse<SmsTemplateView>, TableOptions>
@{
    Items = State.GetValue(Injector);
}

<ListContainer Title="SmsTemplate">
    <Actions>
        <MudButton Variant="Variant.Filled" Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.Send" OnClick="OpenSandbox" Style="margin-right:10px">
            Sandbox
        </MudButton>
        <MudLink Href="/sms-templates/create">
            <MudButton Style="float:right;" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add">
            @L["Create"]
            </MudButton>
        </MudLink>
    </Actions>
    <ChildContent>
        <UTCTable Values="@Items"  SortColumns="@SortColumns" MutableState="@MutableState" Tclass="SmsTemplateView">
                <MudTd DataLabel="Locale">@context.Locale</MudTd>
                <MudTd DataLabel="Template">@context.Template</MudTd>
                <MudTd DataLabel="Key">@context.Key</MudTd>
                <MudTd DataLabel="Id">@context.Id</MudTd>
                       
                <MudTd Class="d-flex justify-end">
                    <div style="display:flex; gap:7px;">
                        <MudLink Href=@($"/sms-templates/{context.Id }")>
                            <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small"/>
                        </MudLink>
                        <MudFab @onclick=@(()=>Delete(@context.Id)) Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                    </div>
                </MudTd>
        </UTCTable>
    </ChildContent>
</ListContainer>

@code {
    private async Task OpenSandbox()
    {
        await Injector.DialogService.ShowAsync<SmsSendSandbox>("SMS Sandbox");
    }
}