@page  "/reviews" 
@using System.Security.Claims
@inject UICommander commander
@inject Session Session
@inject NavigationManager navigation
@inject ISnackbar Snackbar
@inject IDialogService _dialogService
@inject UInjector UInjector
@inject IReviewService ReviewService

@inherits MixedStateComponent<TableResponse<ReviewView>,TableOptions>
@{
    Items = State.GetValue(UInjector);
}

<ListContainer Title="Review">
    <Actions>
        <MudLink Href="/reviews/create">
            <MudButton Style="float:right;" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add">
            @L["Create"]
            </MudButton>
        </MudLink>
    </Actions>
    <ChildContent>
        <UTCTable Values=@Items  SortColumns="SortColumns" MutableState=MutableState Tclass="ReviewView">
                <MudTd DataLabel="User">@context.UserId</MudTd>
                <MudTd DataLabel="Comment">@context.Comment</MudTd>
                <MudTd DataLabel="Rating">@context.Rating</MudTd>
                <MudTd DataLabel="Id">@context.Id</MudTd>
                       
                <MudTd Class="d-flex justify-end">
                    <div style="display:flex; gap:7px;">
                        <MudLink Href=@($"/reviews/{context.Id }")>
                            <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small"/>
                        </MudLink>
                        @if (Claims.Any(x => x.Type == ClaimTypes.Role && x.Value == "Admin"))
{
                        <MudFab @onclick=@(()=>Delete(@context.Id)) Color=Color.Secondary StartIcon=@Icons.Material.Filled.Delete Size=Size.Small IconSize=Size.Small />
}
                    </div>
                </MudTd>
        </UTCTable>
    </ChildContent>
</ListContainer>

@code {

    private TableResponse<ReviewView>? Items ;

    [CascadingParameter]
    public IEnumerable<Claim> Claims { get; set; } = Enumerable.Empty<Claim>();
    
    private string[] SortColumns = new string[] {"User","Comment","Rating","Id",};

    protected override MutableState<TableOptions>.Options GetMutableStateOptions()
    {
        var uri = navigation.ToAbsoluteUri(navigation.Uri);
        QueryHelpers.ParseQuery(uri.Query).TryGetValue("page", out var _initialCount);
        QueryHelpers.ParseQuery(uri.Query).TryGetValue("search", out var searchParam);
        int count = 1;
        int.TryParse(_initialCount, out count);
        return new() { InitialValue = new TableOptions() { Page = count == 0 ? 1 : count, PageSize = 15, SortLabel = "Id", SortDirection = 1, Search = searchParam } };
    }

    protected override async Task<TableResponse<ReviewView>> ComputeState(CancellationToken cancellationToken = default)
    {
        var reviews = await ReviewService.GetAll(MutableState.Value);
        return reviews;

    }

    private async Task Delete(long Id, CancellationToken cancellationToken = default)
    {
        bool? result = await _dialogService.ShowMessageBox(
        @L["DeleteConfirmation"],
        @L["UnDoneDelete"],
        yesText: "Delete!", cancelText: @L["Cancel"]);
        if (result ?? false)
        {
            await commander.Run(new DeleteReviewCommand(Session,Id));
            Snackbar.Add(@L["SuccessDelete"], Severity.Success);
        }
    }
}