@page "/esim-packages"

@inherits MixedStateComponent<TableResponse<ESimPackageView>,TableOptions>
@{
    Items = State.GetValue(Injector);
}

<ListContainer Title="ESimPackage">
    <Actions>
        <MudButton OnClick="SyncPackages" Variant="Variant.Filled" Color="Color.Primary">
            @L["SyncPackages"]
        </MudButton>
        <MudButton OnClick="SetProfit" Variant="Variant.Filled" Color="Color.Success" Class="ms-3">
            @L["SetProfit"]
        </MudButton>
    </Actions>
    <ChildContent>
        <UTCTable Values=@Items SortColumns="SortColumns" MutableState="MutableState" Tclass="ESimPackageView">
            <MudTd>@context.PackageId</MudTd>
            <MudTd>@context.CountryCode</MudTd>
            <MudTd>@context.CountryName</MudTd>
            <MudTd>@context.DataVolume</MudTd>
            <MudTd>@context.ValidDays</MudTd>
            <MudTd>@context.Network</MudTd>
            <MudTd>@context.ActivationPolicy</MudTd>
            <MudTd>
                @if(context.Status == ContentStatus.Active)
                {
                    <MudChip T="string" Color="Color.Info">
                        @L["Active"]
                    </MudChip>
                }
                else
                {
                    <MudChip T="string" Color="Color.Error">
                        @L["Inactive"]
                    </MudChip>
                }
            </MudTd>
            <MudTd>@context.Price.ToString("N2") so'm</MudTd>
            <MudTd>@context.CustomPrice.ToString("N2") so'm</MudTd>
            <MudTd>
                @if (context.PackageDiscountId > 0)
                {
                    <MudText>
                        @context.PackageDiscountView?.DiscountPercentage %
                    </MudText>
                }
                else
                {
                    <MudText> _ </MudText>
                }
            </MudTd>
            <MudTd>@context.PackageDiscountView?.DiscountPrice.ToString("N2") so'm</MudTd>

            <MudTd Class="d-flex justify-end">
                <div style="display:flex; gap:7px;">
                    <MudFab @onclick="() => OpenDiscountDialog(context)" Color=Color.Info StartIcon=@Icons.Material.Filled.Discount Size=Size.Small IconSize=Size.Small />
                    <MudLink Href=@($"/esim-packages/{context.Id}")>
                        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                    </MudLink>
                    <MudFab @onclick="() => Delete(context.Id)" Color=Color.Secondary StartIcon=@Icons.Material.Filled.Delete Size=Size.Small IconSize=Size.Small />
                </div>
            </MudTd>
        </UTCTable>
    </ChildContent>
</ListContainer>